[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _OG_SCREWS_TILT_CALCULATE
gcode:
    # ensure we've done a Z_TILT first
    Z_TILT_ADJUST
    _OG_SCREWS_TILT_CALCULATE

[screws_tilt_adjust]
screw1: 30, 30
screw1_name: Front Left
screw2: 230, 30
screw2_name: Front Right
screw3: 230, 230
screw3_name: Rear Right
screw4: 30, 230
screw4_name: Rear Left
speed: 150
horizontal_move_z: 5
screw_thread: CW-M4
