[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _OG_SCREWS_TILT_CALCULATE
gcode:
    # ensure we've done a Z_TILT first
    Z_TILT_ADJUST
    _OG_SCREWS_TILT_CALCULATE

[screws_tilt_adjust]
screw1: 35, 35
screw1_name: Front Left
screw2: 275, 35
screw2_name: Front Right
screw3: 275, 275
screw3_name: Rear Right
screw4: 35, 275
screw4_name: Rear Left
speed: 150
horizontal_move_z: 5
screw_thread: CW-M4
